/* Imported fronts */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Butterfly+Kids&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+AU+NSW:wght@100..400&display=swap');

/* Body to remove gap */
body {
  margin: 0px;
  padding: 0px;
}

/* Header styling */
header {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  
}

/* Header title */
.headerTitle {
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  
}

/* Navigation */
.navigation {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  
}

/* List transition */
li {
  transition: 0.05s ease-in-out;
  cursor: pointer;

}

/* Sections spaces */
section {
  /* bugs occur when i do this.. */
  padding: 40px 0; 
}


/* First section */
.heroSection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

/* Left and right box */
.leftBox, .rightBox {
  display: flex;
  flex-direction: column;
  width: 300px; 
  padding: 10px;
  text-align: left;
  /* Animation when hovered */
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}

/* Left and right images resized */
.pasta, .tomatoSoup {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 5px; 
}

/* Trying to change font without success */
.titleBox {
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 19px;
}

/* Text underneath image */
.arrowText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

/* Arrow on the right */
.arrowSymbol {
  font-size: 16px;
}

/* Animated navbar */
li:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

/* Animated underlines when hovering leftBox and rightBox */
.leftBox:hover p, .leftBox:hover h2,
.rightBox:hover p, .rightBox:hover h2 {
  text-decoration: underline;
}

/* Animated scale when hover leftBox and rightBox */
.leftBox:hover, .rightBox:hover {
  /* Strange I can't combine it with the animation above, need seperate hover effect */
  transform: scale(1.05);
}

/* Section 2 */
.section_2 {
  background-color: lightgrey;  
  width: 100vw;  
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
}

.section_2_content {
  max-width: 800px;
  padding: 80px 200px; 
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

/* Section 3 images */
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Left images stacked */
.left_images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Left images styling */
.fish,
.ramen {
  width: 500px; 
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

/* Right image styling */
.lasagne {
  width: 420px; 
  height: 620px; 
  object-fit: cover;
  border-radius: 5px;
}

/* Footer Styling */
footer {
  background-color: #333;
  height: 140px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.signed {
  color: white;
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  
}

.github {
  width: 60px;
}
 












